<div id="background">
    <div class="container">
      <div id="Title">
        <div id="run" style="color: white; line-height: 40px;">Welcome to Tran Duc Trung's profile page</div>
      </div>
      <div>
        <div id="Jpg" class="fotorama"
          data-autoplay="3000">
        <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/22050111_1668179736526017_4881610398154069343_n.jpg?oh=1114215b786c22dfbdc7ae4d3d634466&oe=5A7A48AA" class="img-rounded">
        <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/17203080_859652327507532_8335878393566638005_n.jpg?oh=6df8f17fc9ad03a484bf4a5a23ee94e8&oe=5A888CF7" class="img-rounded">
        <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/10308196_828836523821848_8416465151257948230_n.jpg?oh=7aa75c4096a6d57a762c7c6112c2481a&oe=5A3CDDA1" class="img-rounded">
        <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/12311101_1085920754751921_813602850972450177_n.jpg?oh=9c44054d63f86d3da08198ed507970ff&oe=5A6D9F9F" class="img-rounded">
        <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/13902675_1235500923127236_7879306201362013451_n.jpg?oh=953b9fdb62802d7dbf8bbc51294810f9&oe=5A77C92C" class="img-rounded"> 
        <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/12115813_1138588689485127_3745076844423908873_n.jpg?oh=6a0abd84efe40e92379d71f6ff1016d7&oe=5A67C0DA" class="img-rounded">
        <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/20375651_1608945649116093_2914681780173213001_n.jpg?oh=dacbce1994d190e9a5697d034905ebdf&oe=5A785EFC" class="img-rounded">
        <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/19598791_924294714376626_5702763438834338515_n.jpg?oh=6dbd7362d28a3500e3f73f9cbba4766e&oe=5A6CFF5B" class="img-rounded">
      </div>

      <div id="Table1">
        <div id="border" class="dropdown">
          <div data-toggle="dropdown">Basic info<span class="caret"></span></div>
          <ul class="dropdown-menu">
            <div><li><a href="#">- Họ và tên: Trần Đức Trung</a></li></div>
            <div><li><a href="#">- Ngày sinh: 05/10/1993</a></li></div>
            <div><li><a href="#">- Giới tính: Nam</a></li></div>
            <div><li><a href="#">- Quốc tịch: Việt Nam</a></li></div>
            <div><li><a href="#">- Tôn giáo: Không</a></li></div>
          </ul>
        </div>
      		<p style="padding-top: 10px; padding-left: 20px;">- Name: Tran Duc Trung<br><br>
          - Birthday: 05/10/1993<br><br>
      		- Gender: Male<br><br>
      		- National: Vietnam<br><br>
      		- Religion: No</p>
      </div>
         
      <div id="Table2">
        <div id="border" class="dropdown">
          <div data-toggle="dropdown">Address<span class="caret"></span></div>
          <ul class="dropdown-menu">
            <div><li><a href="#">- Địa chỉ: Thôn Kim Hoàng, xã Vân Canh, huyện Hoài Đức, thành phố Hà Nội</a></li></div>
            <div><li><a href="#">- ID: 017003508</a></li></div>
            <div><li><a href="#">- Số điện thoại: 0164.806.2543</a></li></div>
          </ul>
        </div>
          <p style="padding-top: 10px; padding-left: 20px;">- Address: Kim Hoang Hamlet, Van Canh Village, Hoai Duc District, Ha Noi City<br><br>
          - CMT: 017003508<br><br>
          - Mobile phones: 0164.806.2543</p>
      </div>

      <div id="Table5">
        <div id="border" class="dropdown">
          <div data-toggle="dropdown">About me<span class="caret"></span></div>
          <ul class="dropdown-menu">
            <div><li><a href="#">- Sở thích: Game, bóng đá, truyện tranh...</a></li></div>
            <div><li><a href="#">- Ghét: Mưa, mùa hè...</a></li></div>
            <div><li><a href="#">- Châm ngôn sống: Không bao giờ nói bao giờ</a></li></div>
          </ul>
        </div>
          <p style="padding-top: 10px; padding-left: 20px;">- Hobbies: Game, football, manga...<br><br>
          - Dislike: Rain, summer...<br><br>
          - Quote ations about life: Never say never<br><br>
      </div>

      <div id="Table3">
        <div id="border" class="dropdown">
          <div data-toggle="dropdown">Work and Education<span class="caret"></span></div>
          <ul class="dropdown-menu">
            <div><li><a href="#">- Trường trung học: THPT Hoài Đức A</a></li></div>
            <div><li><a href="#">- Đại học: Đại học giao thông vận tải Hà Nội</a></li></div>
            <div><li><a href="#">- Việc làm: Công ty cổ phần tư vấn đầu tư và xây dựng Đại Long</a></li></div>
            <div><li><a href="#">- Quốc tịch: Việt Nam</a></li></div>
            <div><li><a href="#">- Tôn giáo: Không</a></li></div>
          </ul>
        </div>
          <p style="padding-top: 10px; padding-left: 20px;">- High School: Hoai Duc A high school<br><br>
          - College: University of Transport and Communications<br><br>
          - Work: Dai Long Consulting and Construction Join Stock Company<br><br>
      </div>
 
      <div id="Table4">
        <div id="border" class="dropdown">
          <div data-toggle="dropdown">Internet Social<span class="caret"></span></div>
          <ul class="dropdown-menu">
            <div><li><a href="#">- Email: tdtrung5893@gmail.com</a></li></div>
            <div><li><a href="#">- Facebook: <a href=http://www.facebook.com/tdtrung93 TARGET=_blank>fb.com/tdtrung93</a></a></li></div>
            <div><li><a href="#">- Instagram: ins/tdtrung93</a></li></div>
          </ul>
        </div>
          <p style="padding-top: 10px; padding-left: 20px;">- Email: tdtrung5893@gmail.com<br><br>
          - Facebook: <a href=http://www.facebook.com/tdtrung93 TARGET=_blank>fb.com/tdtrung93</a><br><br>
          - Instagram: ins/tdtrung93<br><br>
      </div>
    </div>
</div>